.da-center {
  text-align: center;
}

.da-progress-list  li {
  height: 15px;
  margin: 10px 0;
  padding: 5px;
}

.da-dotless { list-style: none; margin: 0 }

.da-large { font-size: 110% }
.da-larger { font-size: 120% }
.da-largest { font-size: 130% }

.da-progress-bar {
  background-color: #1a1a1a;
  height: 15px;
  padding: 5px;
  margin: 10px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.da-progress-bar span {
  display: inline-block;
  height: 100%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  -webkit-transition: width .4s ease-in-out;
  -moz-transition: width .4s ease-in-out;
  -ms-transition: width .4s ease-in-out;
  -o-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

.da-blue span {
  background-color: orange;
}