#articles
  padding 2%

#articles article
  text-align center
  padding 2%
  width auto
  margin 4%
  
  a
    display block
    
    img
      padding-top 8%
      padding-bottom 2%
      height 100px
    
    h3
      padding-top 2%
      padding-bottom 8%
      margin 0
      
  a:active
    background #f0f0f0

#article
  & > div
    padding 10px 10px 0 10px
    margin 0 0 15px 0
  
  & > div img
    padding 5px
  
  .image, .info
    padding-bottom 10px
  
  .image
    width 30%
    min-width 120px
  
  .info
    width 70%
  
  dl
    margin 0
    overflow hidden
  
    dt, dd
      float left
      display block
      padding 5px
    
    dt
      font-weight bold
      clear left
      width 10%
      min-width 40px
    
    dd
      clear right

#assortment, #suggestions
  padding 0 !important

  table  
    border-spacing 0
    width 100%
    margin-bottom 0

    tbody, tfoot
      th, td
        padding 15px 20px
      
    tbody
      tr
        td, th
          a
            text-decoration none
            color white
            
            &:hover
              text-decoration underline
        td
          text-align right
    
      tr.out-of-stock
        th
          a
            color #ccc
        td
          color #fb5454
          font-weight bold
  
      th, td
        border-bottom 1px white solid

    tfoot
      td
        padding 10px
        overflow hidden

        a
          float right

        p
          float left
          padding 0 10px
      
