#barcode-scanner > .ui-content
  padding 0
  position relative  
  text-align center
  
  img
    width 100%
    max-width 400px
    
  .explanation
    top 0px
    left 0
    width 100%
    position absolute
    background rgba(255, 255, 255, 0.1)

    p
      padding 10px
      text-align center
      margin 0
    

#barcode-scanner > .ui-footer
  height 38px
  
  .camera-btn
    top 3px
    left 40%
