.store
  overflow hidden

.store > div
  float left

.store > .info
  clear left
  padding-right 15px

  .actions
    margin 10px 0

.store > .ratings
  clear right

.store > div > table, .store > div > p
  margin 5px 5px 0 5px

.store > div > table
  margin-right 0
  border-spacing 0

.store > div > table th, .store > div > table td
  padding-bottom 8px

.store > div > table th
  padding-right 10px
  font-weight normal

.store > div > table .average > th
  font-weight bold

#share_dialog .ui-dialog-contain,
#share_feedback .ui-dialog-contain
  margin-top: 0
  
  blockquote
    margin 5px