.store > div > table, .store > div > p
  margin 5px

.store > div > table th, .store > div > table td
  padding-bottom 10px

.store > div > table th
  padding-right 20px
  font-weight normal

.store > div > table .average > th
  font-weight bold
