@import 'barcode_scanner'
@import 'stores'
@import 'articles'

*
  font-family "Droid Sans", Helvetica, Arial, sans-serif !important

span.ui-icon
  display block
  width 18px
  height 18px
  margin-right 2px
  float left
  text-indent -1000px

span.ui-icon-star.highlight
  background-color #ffe257

table th, table td
  text-align left