#barcode-scanner > .ui-content
  padding 0
  
  video
    width 100% !important
    height auto !important

#barcode-scanner > .ui-footer
  height 40px
  
  .camera-btn
    padding 3px 45px
    top 3px
