#articles
  padding 2%

.article
  text-align center
  padding 20px 10px 10px
  width auto
  margin 4%
  height 180px
  position relative
  
  h3
    position absolute
    bottom 0
    width 100%
    text-align center